<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>RUD+</title>
</head>
<body>
    <section>
        <p id="question">Please, tell us know how you've been (More than 10 words)</p>
        <form action="/predict" method="post">
            <textarea name="context" id="context" cols="120" rows="30"></textarea>
            <input type="submit" value="→">
        </form>
    </section>
</body>
</html>
