<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>RUD+</title>
</head>
<body>
    <header>
        <a href="/"><img src="../static/images/homeIcon.png" alt="Home" class="hIcon"></a>
    </header>
    <section id="inputSec">
        <p id="question">Please, tell us know how you've been </p>
        <form action="/predict" method="post">
            <textarea name="context" id="context" cols="100" rows="20" placeholder="Please enter at least 10 words in English."></textarea>
            <input type="submit" value="→">
        </form>
    </section>
</body>
</html>
